:root{
    --bs-body-font-size:0.9rem;
    --bs-danger-rgb:241, 8, 8;
    --bs-success-rgb:13,170, 68;
    --bs-warning-rgb: 1, 70, 137;
}
hr{border-top-style: dashed;}
label{margin-bottom:0.3rem;}
th, strong, .bold{font-weight:600;}
.border-bottom-4{border-bottom-width:4px;}
.fn9{font-size:9px;}
.fn10{font-size:10px;}
.fn12{font-size:12px;}
.fn13{font-size:13px !important;}
.fn14{font-size:14px;}
.fn15{font-size:15px;}
.fn16{font-size:16px;}
.fn18{font-size:18px;}
 
.mt5 {margin-top:5px !important;}
.mb10 {margin-bottom:10px !important;}
.mt-n1 {margin-top: -0.25rem !important;}
.mt-n2 {margin-top: -0.5rem !important;}
.mt-n3 {margin-top: -1rem !important;}
.h-0 {height:0;}
.m-h-15 {min-height:1.5rem;}
.m-h-2 {min-height:2rem;}
a, .btn-link{text-decoration:none;}
.pre-line{white-space:pre-line;}
button:disabled, button[disabled]{cursor:not-allowed;}
.disabledBtn{cursor:not-allowed !important; opacity:0.50; pointer-events: auto !important;}
.btn-light{--bs-btn-bg:#f2f2f2;}
.btn-primary{--bs-btn-bg:#01468a; --bs-btn-border-color:#01468a; --bs-btn-disabled-bg:#01468a;--bs-btn-disabled-border-color:#01468a;}
/* .btn-warning{--bs-btn-color:#FFF;--bs-btn-bg:#f19b0f; --bs-btn-border-color:#f19b0f;} */
.btn-warning{
--bs-btn-color: #FFF;
--bs-btn-bg: #014689;
--bs-btn-border-color: #014689;
--bs-btn-hover-color: #FFF;
--bs-btn-hover-bg: #062f57;
--bs-btn-hover-border-color: #062f57;
--bs-btn-active-color: #FFF;
--bs-btn-active-bg: #062f57;
--bs-btn-active-border-color: #062f57;
--bs-btn-disabled-color: #FFF;
--bs-btn-disabled-bg: #014689;
--bs-btn-disabled-border-color: #014689;
}
.btn-outline-warning{--bs-btn-color:#014689; --bs-btn-border-color:#014689; --bs-btn-hover-color: #FFF; --bs-btn-hover-bg: #062f57; --bs-btn-hover-border-color: #062f57; --bs-btn-active-color: #FFF; --bs-btn-active-bg: #062f57; --bs-btn-active-border-color: #062f57; --bs-btn-disabled-border-color: #014689;}
.list-group-item.active {background-color:rgba(var(--bs-warning-rgb)); border-color:rgba(var(--bs-warning-rgb));}
.pagination{--bs-pagination-active-bg:#014689;}
.btn-success{--bs-btn-bg:#4cae4c}
.sqBtn{border:1px solid #d9d9d9; border-radius:3px;  display:inline-block; height:24px; text-align:center; width:24px; font-size:13px; color: #648cc0; background: #FFF; padding:0px; text-align:center;}
.form-control::placeholder {opacity:0.75; font-size:0.9rem;}
.dropdown-menu {box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);}
.nav-pills {--bs-nav-pills-link-active-bg: #014689;}
.blue{color:#01468a !important;}
.lblue{color:#0099cc;}
.dblue{color:#0d6efd;}
.starGold{color:#FFA822;}
.starBlank{color:#e0e0e0;}
.txtred{color:#ea2330;}
.bg-yellow{background-color:#FFA822 !important;}
.border-yellow{border-color:#FFA822 !important;}
.curpointer{cursor:pointer;}
.tablePad0>tbody>tr>td,.tablePad0>tbody>tr>th,.tablePad0>tfoot>tr>td,.tablePad0>tfoot>tr>th,.tablePad0>thead>tr>td,.tablePad0>thead>tr>th{padding:0}
.nav-underline .nav-link.active, .nav-underline .show > .nav-link{font-weight:normal;}
.listNone{list-style-type: none; padding:0px;}
.tooltip-inner{font-size:11px;}
.popover-body{padding:12px;font-size:13px;}
.form-check-input{border-color:#a59e9e !important;}
.bg-opacity-5{--bs-bg-opacity:0.05}

.mainloader1{display:flex; justify-content:center; align-items: center; position: fixed; left:0px; right: 0px; top:0px; bottom:0px; background:rgba(0,0,0,0.65); z-index: 9999}
.loader1 {color: #FFF; font-weight:500; font-size:25px; box-sizing: content-box; height:40px; padding:10px 10px; display:flex;}
.wordLoad {display:block; height:100%; color: #FFA822; animation: spin_up 4s infinite;}
@keyframes spin_up {
10% {transform: translateY(-105%);}
25% {transform: translateY(-100%);}
35% {transform: translateY(-205%);}
50% {transform: translateY(-200%);}
60% {transform: translateY(-305%);}
75% {transform: translateY(-300%);}
85% { transform: translateY(-405%);}
100% {transform: translateY(-400%);}
}

.cusnav{padding:0px;position: fixed; top:0px; left:0px; right:0px; background-color:#FFF; box-shadow:0 2px 8px rgb(0 0 0 / 5%); z-index:111;}
.fixedNav .cusnav{background-color:#FFF; box-shadow:0 2px 8px rgb(0 0 0 / 15%);}
.mainNav .navbar-nav .nav-link{color: #151515; font-size:13px; font-weight: 600; padding-left:0.5rem; padding-right:0.5rem; text-transform: uppercase;}

.deviderList {margin:0px; padding:0px;}
.deviderList li{ display: inline-block; font-size:12px; font-weight:600;}
.deviderList li:before{content: '|'; padding: 0 6px;}
.deviderList li:first-child:before{content:''; padding-left:0px;}

.searchPanel {padding:160px 0 70px; position: relative;}
/* .searchImage{z-index:1;} */
.searchBox .navbar-toggler{background-color:#01468a; color:#FFF; padding:12px 15px; border-radius:8px; font-weight:600; width:100%; margin-bottom: 20px; position:relative;}
.searchBox .navbar-toggler:before{pointer-events:none; position:absolute; z-index:-1; content:''; transform: translateY(10px); border-style:solid;  left:calc(50% - 10px); bottom:0; border-width:10px 10px 0 10px; border-color: #01468a transparent transparent transparent;}
.searchBox{position:relative; /*z-index:1;*/}
.serviceNav{margin:0 0 1rem;}
.serviceNav ul{display:flex; list-style:none;padding:0px;margin:0px; position:relative;}
.serviceNav ul li{ z-index:1; margin:0 3px;}
.serviceNav ul li a{display:flex;align-items:center; padding:5px 15px; color:#01468a; position:relative; border-radius:8px; font-weight:600;}
.serviceNav ul li a img{margin-right:4px; display:none;}
.serviceNav ul li a:before{pointer-events:none; position:absolute; z-index:-1; content:''; border-style:solid; -webkit-transition-duration:0.3s; transition-duration:0.3s; -webkit-transition-property:transform; transition-property:transform; left:calc(50% - 10px); bottom:0; border-width:10px 10px 0 10px; border-color:transparent;}
.serviceNav ul li.active a:before, .serviceNav ul li:hover a:before{transform: translateY(10px);  border-color: #01468a transparent transparent transparent;}

.serviceNav ul li.active a, .serviceNav ul li:hover a{background-color:#01468a; color:#FFF;}

.searchColumn{background:rgba(255,255,255,0.90); border-radius:8px; padding:0rem 0.5rem; box-shadow:0 2px 8px rgb(0 0 0 / 20%);}
.tFourInput{padding-top:7px;}
.tFourInput label{font-size:0.9rem; font-weight:600; color:#01468a; margin:0px;}
.tFourInput .mb-3 .form-control, .tFourInput .mb-3 .form-select, .tFourInput .paxMainBtn{font-weight:600; font-size:1.05rem; border:none; box-shadow:none; background-color:transparent; padding-left:0px;}
.tFourInput.bor-s{border-left:1px solid #eaeaea;}
.tFourInput.bor-e{border-right:1px solid #eaeaea;}
.tFourInput.bor-b{border-bottom:1px solid #eaeaea;}
.tFourInput .tFourMulti__control{border-width:0px;box-shadow:none;min-height:inherit;background-color:transparent;}
.tFourInput .tFourMulti__value-container{padding:0px; font-weight:600; font-size:1.05rem;}
.tFourInput .tFourMulti__input-container{margin:0px;padding:0px;}
.tFourInput .tFourMulti__placeholder {font-weight:600; font-size:1.05rem;}
.tFourInput .tFourMulti__dropdown-indicator, .tFourInput .tFourMulti__clear-indicator{padding-top:6px; padding-bottom:5px;}
.secondSearch{margin-top:0.9rem;}
.nightCol{border-left:1px dotted #ccc;;}
.nightCol .form-control{width:60px; text-align:center;}
.tFourMulti__control{color:#212529; text-transform: capitalize;}
.tFourMulti__menu{color:#212529; text-transform: capitalize;}
.modifycol .tFourMulti__control{border:none; font-size:14px;min-height:inherit;}
.modifycol .tFourMulti__indicator{padding:7px;}
.calendarIconMain{position: relative;}
.calendarIcon{position:absolute; top:50%; transform:translateY(-50%); right:10px;}

.react-datepicker{box-shadow:0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);}

.react-datepicker-wrapper{width:100%;}
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after{border-bottom-color:#FFF !important;}
.react-datepicker__navigation{background-color:rgba(var(--bs-warning-rgb)) !important;}
.react-datepicker__navigation-icon::before{border-color:#FFF !important;top:40% !important;}
.react-datepicker__navigation-icon--previous::before{right:-3px !important;}
.react-datepicker__navigation-icon--next::before{left:-3px !important;} 
.react-datepicker__day--outside-month {visibility:hidden !important; color:transparent !important; pointer-events:none; background-color:transparent !important;}
.react-datepicker__header{background-color: #FFF !important; padding:12px 0 !important; position:inherit !important;}
.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected{background-color:transparent !important;}
.react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range{background-color:#a3d1fe !important; color:#000 !important;}
.react-datepicker__day--in-range, .react-datepicker__day--in-selecting-range{border-radius:0px !important;}
.react-datepicker__day--selected, .react-datepicker__day--range-start, .react-datepicker__day--selecting-range-start, .react-datepicker__day--range-end, .react-datepicker__day--selecting-range-end{background-color:rgba(var(--bs-warning-rgb)) !important; color:#FFF !important;}
.react-datepicker__day--range-start, .react-datepicker__day--selecting-range-start{border-radius:8px !important; border-bottom-right-radius:0px !important; border-top-right-radius:0px !important;}
.react-datepicker__day--range-end, .react-datepicker__day--selecting-range-end{border-radius:8px !important; border-bottom-left-radius:0px !important; border-top-left-radius:0px !important;}
.react-datepicker{font-size:0.72rem !important;}
.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name{margin:0.095rem 0px !important;}
.react-datepicker-popper{z-index:11 !important;}
.react-datepicker__year-dropdown, .react-datepicker__month-dropdown, .react-datepicker__month-year-dropdown{background-color:#FFF !important;}
.react-datepicker__month-dropdown{width:80% !important;left:0px !important;}
.react-datepicker__year-dropdown{width:65% !important;left:inherit !important; right:0px !important;}

.yearwiseCal .react-datepicker__month-container{padding-top:30px;}
.yearwiseCal .react-datepicker__header__dropdown{position: absolute; top:12px; right:50%; transform:translateX(50%); z-index:1; width:165px;}
.react-datepicker__month-dropdown-container--scroll, .react-datepicker__year-dropdown-container--scroll{margin:0 5px !important;}
.react-datepicker__year-read-view, .react-datepicker__month-read-view, .react-datepicker__month-year-read-view{border:1px solid #ccc !important;padding:2px 18px 2px 10px!important;border-radius:4px!important; visibility:inherit !important;}
.react-datepicker__month-read-view--down-arrow, .react-datepicker__year-read-view--down-arrow{right:4px !important; top:5px !important; border-width:2px 2px 0 0 !important;width:7px !important; height:7px !important;}
.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header{font-size:1.2rem !important;}
.react-datepicker__year-option, .react-datepicker__month-option, .react-datepicker__month-year-option{text-align:left;padding:0 0 0 18px;}
.react-datepicker__year-option--selected, .react-datepicker__month-option--selected, .react-datepicker__month-year-option--selected{left:3px !important;}

.paxMainBtn{display:flex;}
.paxMainBtn:after{margin-left: auto; margin-top:11px;}
.paxDropdown{width:100%;}
.paxDropdown:before {content:''; right:27px; background:#fff; border-radius:0.2rem; bottom:100%; content:""; display:block; height:16px; position:absolute; -webkit-transform:rotate(-45deg) translateY(1rem); transform:rotate(-45deg) translateY(1rem); width:16px; z-index:-5;}

.footerBot{margin-top:20px; border-top:2px dashed #ddd;  padding:15px 0px; margin:40px 0 0px; text-align:center; font-size:13px;}
.footerTop {font-size:15px; margin-bottom:3px;}
.footerTop a{color:#333;}
.footerTop a:hover{color:#000;}

.middle{margin-top:75px;}
.modifycol{background-color:#01468a; color:#FFF;}
.crossBtn{position:absolute; right:0px; top:0px;font-size:24px;z-index:111}

.leftFilter{width:270px; margin-bottom:20px; z-index:1;}
.leftFilter .accordion-button:after{width:0.9rem;height:0.9rem;background-size:0.9rem;opacity:0.65;}
.leftHeightPanel{max-height:180px; overflow-y: auto;}
/* .cusScroll::-webkit-scrollbar {width:0.75rem;background-color:transparent;}
.cusScroll::-webkit-scrollbar-thumb {border-radius:6px; border-width:4px; border-style:solid; background-clip:padding-box; background-color: rgba(33, 40, 50, 0.5); border-color:transparent;} */

.cusScroll, .fsEnOn, .colspan .collapse, .dataScroll {padding-right:7px;}
.cusScroll::-webkit-scrollbar-track, .fsEnOn::-webkit-scrollbar-track, .colspan .collapse::-webkit-scrollbar-track, .dataScroll::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);background-color: #F5F5F5;border-radius:10px;}
.cusScroll::-webkit-scrollbar, .fsEnOn::-webkit-scrollbar, .colspan .collapse::-webkit-scrollbar, .dataScroll::-webkit-scrollbar{width:5px; height:10px; background-color: #F5F5F5;}
.cusScroll::-webkit-scrollbar-thumb, .fsEnOn::-webkit-scrollbar-thumb, .colspan .collapse::-webkit-scrollbar-thumb, .dataScroll::-webkit-scrollbar-thumb{background-color: #333;border-radius:10px;}
.cusScroll::-webkit-scrollbar-button, .fsEnOn::-webkit-scrollbar-button, .colspan .collapse::-webkit-scrollbar-button, .dataScroll::-webkit-scrollbar-button {width:0;height:0; display:none;}

.rightResult {padding-left:1rem; padding-top:1rem; width:100%;border-left:1px solid #dee2e6;}
.htlboxcol{border:1px solid #f0f3f5; border-radius:6px; background:#FFF;}
.hotelImg{position: relative; min-width:140px; height:100%; overflow: hidden;}
.collapsed .togglePlus:before{content:'+'; font-weight:bold;}
div[aria-expanded="true"] .togglePlus:before{content:'-'; font-weight:bold;}

.collapsed.togglePlusNew:before{content:'+'; font-weight:bold;}
.togglePlusNew:before{content:' - '; font-weight:bold;}

.horizontal-slider {width: 100%; height:25px;}
.horizontal-slider .example-track { top:8px; height:5px;}
.example-track { position: relative; background: rgb(221, 221, 221); border-radius:.25rem;}
.example-track.example-track-1 {background:#01468a;}
.example-thumb {background-color:#f8f8f8;  cursor: pointer; box-shadow:0.5px 0.5px 2px 1px rgb(0 0 0 / 32%); border:1px solid #ababab; border-radius:50%;}
.horizontal-slider .example-thumb {top: 1px; width:18px; height:18px;}
.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg{height: 60px !important;}

.roomColumn .rdt_TableCell{font-size:12px; padding-top:5px; padding-bottom:5px;}
.roomColumn .rdt_TableHeadRow{min-height:42px;}
.defaultPage .cusnav{background: transparent; box-shadow: none;}
.defaultPage .fixedNav .cusnav{background:#FFF;box-shadow:0 2px 8px rgb(0 0 0 / 5%);}
/* .defaultPage .container-fluid{max-width:1140px;} */

.divTable{display:table; width:100%; border-spacing:0; font-size:12px; line-height:15px; margin:0 0 20px 0px; border-collapse:collapse;}
.divHeading { display:table-row;  font-weight:600;}
.divRow {display:table-row;}
.divCell {display:table-cell; border-top:1px solid #ddd; padding:6px 5px; vertical-align:middle;}
.table-bordered .divCell { border: 1px solid #ddd; border-top:none;}
.colspan { margin-top:-1px; margin-bottom: -1px;}
.sorticon{cursor: pointer;}
.circleicon {border:1px solid; border-radius:100%; display:inline-block; font-size:8px; font-style:normal; height:14px; line-height:12px; text-align:center; vertical-align:middle; width:14px;}
.refund {border-color:#0daa44; color:#0daa44;}
.nonrefund{border-color:red; color:red;}

.dropIcon:after{display:inline-block; vertical-align:0; content:""; border-top:0.35em solid transparent; border-right:0; border-bottom:0.35em solid transparent; border-left:0.35em solid; position:absolute; right:6px; top:7px;}
.arrowNone{white-space: inherit;}
.dropend .arrowNone:after{display:none;}
.dropReserve{position:inherit;}
.dropReserve .dropdown-menu{border-radius:0px;}
/* .dropReserve .dropdown-menu a{color:#000;} */
.dropReserve .dropdown-menu li{position: relative; /*padding-top:6px; padding-bottom:6px;*/}
.dropReserve .dropdown-menu .dropdown-item{padding-top:5px; padding-bottom:5px;}
.dropdown-menu .submenu{display: none; position:absolute;  left:100%; top:-7px;}
/* .dropReserve .dropdown-menu > li:hover{background-color: #f1f1f1 } */
.dropReserve .dropdown-menu > li:hover > .submenu{display: block; }
@media (max-width: 991px) {
.dropReserve .dropdown-menu .dropdown-menu{margin-left:0.7rem; margin-right:0.7rem; margin-bottom:.5rem; position:static;}
}
@media (min-width:960px){
.leftFilter .position-relative.collapse{display:block !important;}     
}

.selectSm__menu{z-index:2 !important;}
.selectSm__control{min-height:inherit !important;}
.selectSm__indicator{padding:0 8px !important;}
.selectSm__value-container{padding:0px !important;}
.selectSm__multi-value__label{padding:0px !important;}
.labelribbon:after {left:100%; top:0; border:solid transparent; content:" "; height:0; width:0; position:absolute; pointer-events:none; border-width:13px; border-color:#003263; border-right:10px solid transparent;}

.dumwave {height:35px; text-align:center; display:inline-block}
.dumwave .anim{background-color:#dfdfdf; height:35px; width:7px; margin:0 1px 0 0; display:inline-block; -webkit-animation:waveanimation 1.2s infinite ease-in-out; animation:waveanimation 1.2s infinite ease-in-out}
.dumwave .anim1{-webkit-animation-delay:-1.2s; animation-delay: -1.2s}
.dumwave .anim2 {-webkit-animation-delay:-1.1s; animation-delay:-1.1s}
.dumwave .anim3 {-webkit-animation-delay: -1s; animation-delay: -1s}
.dumwave .anim4 {-webkit-animation-delay: -0.9s; animation-delay: -0.9s}
.dumwave .anim5  { -webkit-animation-delay: -0.8s; animation-delay: -0.8s}
@-webkit-keyframes waveanimation {
0%, 40%, 100% {-webkit-transform:scaleY(0.3); transform:scaleY(0.3)}
20% {-webkit-transform:scaleY(1); transform:scaleY(1)}
}
@keyframes waveanimation {
0%, 40%, 100% {-webkit-transform:scaleY(0.3); transform:scaleY(0.3)}
20% {-webkit-transform:scaleY(1); transform:scaleY(1)}
}

.image-gallery-thumbnail{height:80px; overflow:hidden; vertical-align:middle;}
.cancelBrnone br{display:none !important;}
.cancelBrnone .fn15{font-size:13px !important;}
.mainlogo{width:auto; height:auto; }

.slow-spin {-webkit-animation:fa-spin 1s infinite linear; animation:fa-spin 1s infinite linear;}

.printBg{background-color:#eef5f6; padding-bottom:20px;}
.stepNav{background:#f8f9fa; margin:0 0 15px;border-bottom:none;}
.stepNav .nav-link{padding:.8rem;color:#FFF; position:relative; text-align:center; font-weight:500; font-size:16px;border:none;flex-basis:0;flex-grow:1;display:flex;}
.stepNav .nav-link.disabled:after,.stepNav .nav-link.active:after{background:#f8f9fa;box-shadow:none;}
.stepNav .nav-link:after{content:'';position:absolute; left:0px; right:0px; top:0px; bottom:0px; background:rgba(var(--bs-warning-rgb));box-shadow:0 8px 26px -10px rgba(255, 193, 7, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 4px 10px -5px rgba(255, 193, 7, 0.2);}
.stepNav .nav-link.disabled{background:inherit;color:#000;}
.stepNav .nav-link.active{color:#32a953;}
.stepNav .nav-link .stepTxt{position:relative; z-index:11;margin:0 auto; align-self:center;}
svg.stepTick {color:#09982a; vertical-align:middle; margin-right:2px;font-size:21px;display:none;}
.active svg.stepTick{display:inline-block;}
.loadingImg{background:#72bbfd;}
.wonderImg{animation:fa-spin 6s infinite linear;}
[data-column-id="priceCell"].rdt_TableCell {background-color:#edf4fb; font-size:1rem; font-weight:600;}
[data-column-id="buttonCell"].rdt_TableCell {padding-top:0px; padding-bottom:0px;}
.htlBookBtn{height:100%; border-radius:0px;}

@keyframes fa-spin {
0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
}
}
.rptButton{display:flex;}
/* .recentCol .image-gallery-thumbnail{font-size:14px; line-height: normal; height: auto; border:0px !important; width:33%; white-space: inherit; padding:7px;} */
.recentCol .slick-slider{ padding-bottom:40px;}
.recentCol .slick-prev{left:calc(50% - 32px);}
.recentCol .slick-next{right:calc(50% - 32px);}
.recentCol .slick-prev, .recentCol .slick-next{top:85%;transform:translate(50%, 0%); width:30px; height:30px; }
.recentCol .slick-prev:before, .recentCol .slick-next:before{color:#01468a; font-size:30px;}

.offlineNav .navbar-nav .nav-link{padding:12px 20px; background:#014689; color:#FFF;}
.offlineNav .navbar-nav .nav-link.collapsed{background:transparent; color:#000;}

.travellerRight .cmpltBookBtn{width:100%;}
.PhoneInput input[type="tel"]{border:0px; outline:0px !important; margin:0px;}

.roomColumn .rdt_Pagination{font-weight:600; color:#0d6efd;}
.rdt_Pagination button{fill:rgba(13,110,253,1); width:36px; height:36px; margin:0 2px; padding:4px; background-color:#f2f2f2;}
.rdt_Pagination button:disabled{fill:rgba(13,110,253,0.4);}
.dropdownHover:hover .dropdown-menu{display: block;}

.stopline{height:2px; background-color:#d4d4d4; margin:5px 0px;}
.stopPoint{width:10px; height:10px; border:1px solid; border-color:rgba(var(--bs-warning-rgb)); background-color:#FFF; border-radius:50%; margin:0 3px; position:relative; top:-8px; display:inline-block;}

@media (min-width: 1400px) {
.defaultPage .container-fluid {max-width: 1320px;}
}

@media only screen and (min-width: 240px) and (max-width:960px) {
.cusnav{position: inherit;}
.mainNav .navbar-nav .nav-link{border-top:1px solid #eaeaea;}
.searchPanel{padding:30px 0 20px;}
.serviceNav ul{display: block; background-color:#FFF;}
.serviceNav ul li a{display: block; border-bottom:1px solid #eaeaea;border-radius:0px;}
.serviceNav ul li a:before{display:none;}
.serviceNav ul li.active a{background-color:#f2f2f2;color:#666;}
.tFourInput{border-left-width: 0px !important; border-bottom:1px solid #eaeaea;}
.middle{margin-top:0px;}
.leftFilter{width:100%;}
.rightResult{padding-left:0px; border:none !important;}
}